body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.calculator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
    border: 2px solid black;
    background-color: rgb(65, 65, 65);
    margin: 50px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.display {
    background-color: rgb(90, 0, 0);
    color: rgb(255, 0, 0);
    text-shadow: rgb(255, 125, 125) 0px 0px 10px;
    height: 100px;
    width: 400px;
    font-size: 75px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 424px;
    height: 400px;
    gap: 8px 8px;
}

#clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

#equals {
    grid-row-start: 5;
    grid-row-end: 7;
    grid-column-start: 4;
    grid-column-end: 5; 
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    cursor: default;
    color: white;
    font-size: 28px;
}

.key:hover {
    opacity: 0.75;
}

.key:active {
    opacity: 0.5;
}

.key.numberKey {
    background-color: rgb(160, 160, 160);
}

.key.binary-op-key,
.key.unary-op-key,
#change-sign {
    background-color: rgb(94, 94, 94);
}

#clear {
    background-color: rgb(252, 115, 35);
}

#equals {
    background-color:teal;
}

#backspace {
    background-color: teal;
}

.solar-panel {
    width: 200px;
    height: 50px;
    background-color: rgb(160, 0, 0);
    border: 2px solid black;
    border-radius: 5px;
    align-self: flex-end;
    margin-right: 38px;
    display: flex;
    justify-content: space-evenly;
}

.solar-panel .container {
    background-color: rgb(200, 0, 0);
    width: 62px;
}